{% extends 'website/base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-8">
         <div class="row">
             <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1 class="text-center">{{ sub.eventname }}</h1>
                    </div>
                </div>
             </div>
         </div>
    </div>
    <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if sub.event_img %}
                                <img src="{{ sub.event_img.url }}" class="img-responsive">
                            {% else %}
                                <h2><small>No image</small></h2>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="text-center"><small>Organizer</small></h2>
                            <div class="row">
                                <div class="col-xs-4">
                                    {% if sub.user.userimg %}
                                        <img src="{{ sub.user.userimg.url }}">
                                    {% else %}
                                        <h4><small>No image</small></h4>
                                    {% endif %}
                                </div>
                                <div class="col-xs-8">
                                    <h2><small>{{ sub.user.firstname }}</small></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div><h2 class="text-center"><small>Members</small></h2></div>
                                    {% for foo in regusers %}
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                           <div class="row">
                                               <div class="col-xs-4">
                                                   {% if foo.userimg %}
                                                        <img src="{{ foo.userimg.url }}" class="img-responsive">
                                                   {% else %}
                                                        <h4><small>No image</small></h4>
                                                    {% endif %}
                                               </div>
                                                <div class="col-xs-8">
                                                    <h2><small>{{ foo.username }}</small></h2>
                                                </div>
                                           </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-default">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h4 class="text-left">{{ sub.about_event }}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <h3 style="margin-left: 15px" class="text-left"><small>registered members are {{ counting }}</small> </h3>
                                        </div>
                                        <div class="col-xs-3">
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="align-right btn btn-danger">Register</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>

{% endblock %}