{% extends 'website/base.html' %}
{% block body %}
    <div class="container-fluid">
        {% for foo in pager %}
            <div class="row">
                <div class="panel panel-body">
                    <div class="panel-body">

                <div class="col-md-4">
                    <a href="{% url 'website:registerevent' foo.id %}">
                         {% if foo.event_img %}
                            <img src="{{ foo.event_img.url }}" class="img-responsive center-block">
                         {% else %}
                             <h3>No image to display </h3>
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                    <a href="{% url 'website:registerevent' foo.id %}">
                        <h2><small>{{ foo.eventname }} ({{ foo.eventplace }})</small></h2>
                    </a>
                     <h3 class="text-left"><small>{{ foo.about_event}}</small></h3>
                        </div>
                        <div class="col-xs-1"></div>
                </div>
                </div>
                    </div>
            </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}