    {% extends 'website/base.html' %}
    {% block body %}
        <br>
        <div class="container-fluid">
             <div class="row">
                {% for foo in pager %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="imgwrapper ">
                                    <a href="{% url 'website:registerevent' foo.id %}">
                                        {% if foo.event_img %}
                                            <img src="{{ foo.event_img.url }}" class="img-responsive center-block widding">
                                        {% else %}
                                            <h3> No image to display </h3>
                                        {% endif %}
                                    </a>
                                </div>
                                <div>
                                    <h2>{{ foo.eventname }}</h2><small>{{ foo.eventplace }}</small>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <button class="btn btn-success" data-toggle="collapse" data-target="#demo{{ forloop.counter }}">viewinfo</button>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="{% url 'website:showdel' foo.id %}"><button class="btn btn-danger deleted">delete</button></a>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="{% url 'website:edit_form' foo.id %}"><button class="btn btn-success" onclick="myfunc()">edit</button></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class = "collapse" id="demo{{ forloop.counter }}">
                                            <p class="align-left text-left">{{ foo.about_event }}</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
        <script>
            function myfunc() {
                confirm("press ok");
            }</script>

    {% endblock %}